<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" media="screen">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>Formative For Lebaran</h3>
            <p class="blue-text">Muhammad Rizky Hadinata</p>
            <div class="card">
                <form action="success.html" th:action="@{/form}" method="post" th:object="${product}">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Product Name<span class="text-danger"> *</span></label> <input type="text" th:field="*{name}" placeholder="Name"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Article Number<span class="text-danger"> *</span></label> <input type="text" th:field="*{articleNumber}" placeholder="Article Number" > </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-12 flex-column d-flex"> <label class="form-control-label px-3">Description<span class="text-danger"> *</span></label> <input type="text" th:field="*{description}" placeholder="Description"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Stock<span class="text-danger"> *</span></label> <input type="text" th:field="*{stock}"  placeholder="Stock"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Image URL<span class="text-danger"> *</span></label> <input type="text" th:field="*{imageUrl}" placeholder="Image URL"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Brand<span class="text-danger"> *</span></label> <select class="custom-select" th:field = "*{brandId}">
                            <option th:each = "brand : ${brandList}"
                                    th:value="${brand.id}"
                                    th:text="${brand.name}"/>
                        </select> </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="form-group col-12 mt-4"> <button type="submit" class="btn-block btn-primary">Add Product</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

