body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #F7F7F7;
    background-repeat: no-repeat;
    background-size: 100% 100%
}
.card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
}

img {
    width : 150px;
    height : 150px;
    }


